## Lambda

In [1]:
x = lambda a : a + 20

print(x(5))

15

## Lambda & Apply

In [2]:
import pandas as pd

df=pd.DataFrame({
    'id':[1,2,3,4,5],
    'name':['Jeremy','Frank','Janet','Ryan','Mary'],
    'age':[20,25,15,10,30],
    'income':[4000,7000,200,0,10000]
})

print(df)

   id    name  age  income
0   1  Jeremy   20    4000
1   2   Frank   25    7000
2   3   Janet   15     200
3   4    Ryan   10       0
4   5    Mary   30   10000

In [3]:
df['age']=df.apply(lambda x: x['age']+3,axis=1)

In [4]:
df['age']

0    23
1    28
2    18
3    13
4    33
Name: age, dtype: int64

## Lambda With Filter Function

In [5]:
print(df)

   id    name  age  income
0   1  Jeremy   23    4000
1   2   Frank   28    7000
2   3   Janet   18     200
3   4    Ryan   13       0
4   5    Mary   33   10000

In [6]:
list(filter(lambda x: x>18, df['age']))

[23, 28, 33]

## Lambda With Map Function

In [7]:
print(df)

   id    name  age  income
0   1  Jeremy   23    4000
1   2   Frank   28    7000
2   3   Janet   18     200
3   4    Ryan   13       0
4   5    Mary   33   10000

In [8]:
df['income']=list(map(lambda x: int(x+x*0.2),df['income']))

In [9]:
df['income']

0     4800
1     8400
2      240
3        0
4    12000
Name: income, dtype: int64

## Lambda With Reduce Function

In [10]:
print(df)

   id    name  age  income
0   1  Jeremy   23    4800
1   2   Frank   28    8400
2   3   Janet   18     240
3   4    Ryan   13       0
4   5    Mary   33   12000

In [11]:
import functools

functools.reduce(lambda a,b: a+b, df['income'])

25440

In [ ]:
a, b, c, d, e