In [1]:
import numpy as np
import pandas as pd
import pymysql

In [2]:
# pip install pymysql

In [3]:
myconnection = pymysql.connect(host='your_host_name', user='root', passwd='your_password', database='your_database_name')

In [4]:
cur = myconnection.cursor()

In [5]:
df = pd.read_csv('movies.csv')

In [6]:
df.head(2)

      budget     id  runtime                                     title
0  237000000  19995    162.0                                    Avatar
1  300000000    285    169.0  Pirates of the Caribbean: At World's End

In [7]:
df = df.dropna()

In [8]:
cur.execute("create table movie1 (budget varchar(20), id varchar(20), runtime int, title text)")

0

In [9]:
sql = "insert into movie1 (budget, id, runtime, title) values (%s,%s,%s,%s)"

In [10]:
for i in range(0, len(df)):
    cur.execute(sql, tuple(df.iloc[i]))
    myconnection.commit()